name: fz_invite_kit
description: Flutter 邀请码插件,支持 Universal Links 和自定义 URL Scheme
version: 0.1.0
homepage: https://github.com/funzonic/fz_invite_kit

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: FzInviteKitPlugin
